body {
    font-family: 'Lato', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4; /* Light gray for headers not specifically colored */
    text-align: center;
    font-weight: bold;
}

th.review, th.trueSentiment {
    background-color: #b2d8b2; /* Light green */
}

th.cbest, th.condition {
    background-color: #fff2cc; /* Light yellow */
}

th.predictedSentiment {
    background-color: #cce5ff; /* Light blue */
}

th.correctness {
    background-color: #e8ccff; /* Light purple */
}

td[contenteditable="true"] {
    background-color: #f0f0f0; /* Light gray for editable cells */
    cursor: text;
}

td[contenteditable="true"]:hover {
    background-color: #e0e0e0; /* Slightly darker gray on hover */
}

u {
    color: black;
    font-weight: bold;
}
